<!-- ================= 导航 ================= -->
<nav class="navigation">

    <div class="nav-center">
        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/index"
           data-en="Home Page" data-zh="主页">
            Home Page
        </a>

        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/role/roles"
           data-en="Academic Role" data-zh="学术兼职">
            Academic Role
        </a>

        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/project/projects"
           data-en="Research Project" data-zh="研究课题">
            Research Project
        </a>

        <div class="dropdown">
            <a class="nav dropdown-trigger"
               href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publications"
               data-en="Publications" data-zh="出版记录">
                Publications
            </a>

            <div class="dropdown-menu">
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2025">2025</a>
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2024">2024</a>
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2023">2023</a>
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2022">2022</a>
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2021">2021</a>
                <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/publication/publication-2020">2020</a>
            </div>
        </div>

        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/exchange/exchanges"
           data-en="Academic Exchange" data-zh="学术交流">
            Academic Exchange
        </a>

        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/honour/honours"
           data-en="Honour" data-zh="荣誉奖励">
            Honour
        </a>

        <a class="nav" href="https://jiang-yuyan.github.io/Yuyan-Jiang-CV/skill/skills"
           data-en="Professional Skills" data-zh="专业技能">
            Professional Skills
        </a>
    </div>

    <!-- 语言切换 -->
    <a id="lang-zh" class="lang-switch" href="javascript:void(0)">中文</a>
    <a id="lang-en" class="lang-switch" href="javascript:void(0)">EN</a>

</nav>
